body {
    transiton: 0.5s linear;
    background: #1c92d2;
    text-shadow: 0 0 3px 1px #333;
}

#container {
    width: 50%;
    height: 200px;
    margin: 10% auto;
    padding-bottom: 2%;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 10px 2px #333;
}

header {
    margin: 2%e;
}

#date, #city {
    margin: 2%;
}

#date {
    float: left;
}

#city {
    float: right;
}

h1 {
    font-weight: 400;
}

section {
    clear: both;
    text-transform: capitalize;
    text-align: center;
}

main {
    display: table;
    margin: 0 auto 10% auto;
    height: auto;
    border: 1px solid grey;
}

i, img {
    display: table-cell;
    vertical-align: middle;
}

button {
    display: table-cell;
    vertical-align: middle;
    margin: 50% auto;
}

img {
    width: 5em;
    height: auto;
    filter: grayscale(1);
}


#tempature {
    display: table-cell;
    vertical-align: middle;
    font-size: 3em;
    margin-right: 2%;
}

